.BBlock{
    background-color:black;
    height: 10px;
    width: 10px;
    display: inline-block;
}

.WBlock{
    background-color:gray;
    height: 10px;
    width : 10px;
    display: inline-block;
}