/* style.css */

body 
{
    /* 1. La police principale */
    font-family: 'Press Start 2P', cursive; 
    
    /* 2. Une couleur de fond pour toute la page (optionnel) */
    background-color: white;
    
    /* 3. La couleur du texte par défaut */
    color: black;

    /* Taille de la police par défaut */
    font-size: 20px;

    
}