<!DOCTYPE html>
<html>
<head>
    <title>Tic-Tac</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">

</head>
<body style="background-color: white; color: black; text-align: center; padding-top: 50px;">
    
    <h1 style="font-size: 50px;"> Tic-Tac </h1>
    <br><br>
    <form type ="submit" method ="post" action="/result">

        <input type = "radio" id="man" name="Sex" value="1" checked style="accent-color: black; transform: scale(1.5); margin-right: 10px;  vertical-align: middle; ;" >
        <label for="man" style = "vertical-align: middle;"> Man </label>

        <input type = "radio" id="women" name="Sex" value="0" style="accent-color: black; transform: scale(1.5); margin-right: 10px;  vertical-align: middle;">
        <label for="women" style = "vertical-align: middle;"> Women </label>

        <br><br><br><br>
        <div class="date-line">
        Date of Birth :
        <input type = "number" id = "DateBirthSelectionD" name = "DateBirthSelectionD" min = "0" max = "31" required>
        D/
        <input type = "number" id = "DateBirthSelectionM" name = "DateBirthSelectionM" min = "1" max = "12" required>
        M/
        <input type = "number" id = "DateBirthSelectionY" name = "DateBirthSelectionY" min = "1900" max = "2026" required>
        Y
        </div>
        <br><br><br><br><br>
        <button type = "submit" style ="cursor: pointer; transform: scale(1.75); font-family: 'Press Start 2P', cursive;"> Estimate </button>
    </form>
</body>
</html>